* {
    font-family: Papyrus, Arial, sans-serif;
    /* margin: auto; */
}

body {
    background-color: salmon;
}

h1 {
    color: green
}

h3 {
    color: chartreuse
}

.blue-text {
    color: blue
}

#white-text {
    color: white
}

header {
    background-color: aquamarine;
}

.worst-cats {
    font-size: larger;
    font-weight: bolder;
    color: aqua;
    background-color: black;
}

.box-model {
    border: 10px solid purple;
    background-color: aqua;
    padding: 20px;
    width: 50vw;
}

#box-1 {
    background-color: bisque;
    text-align: center;
    width: 40%;
}

#box-2 {
    background-color: blanchedalmond;
    text-align: center;
    width: 40%;
    font-size: x-large;
}

#box-model-positioning {
    background-color: black;
    height: 250px;
    position: relative;
}

#box-a {
    background-color: aliceblue;
    width: 30%;
    display: inline-block;
    position: relative;
    left: 25px;
    top: 50px;
}

#box-b {
    background-color: aliceblue;
    width: 30%;
    display: inline-block;
    position: relative;
    left: 50px;
    top: 50px;
}

#flex-box {
    display: flex;
    border: 5px solid black;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 500px;
}

.flex-item {
    height: 100px;
    width: 100px;
    background-color: orange;
    border: 5px solid maroon;
}